@import url('../../assets/css/fonts.css');

.reminder {
    width: 820px;
    height: 50px;
    background: url(../../assets/img/icon/flag.png) no-repeat 25px 9px  #f5a623;
}

.text-reminder {
    font-family: GothamHTF;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 12px;
    padding-left: 70px;
}