@import url('../../assets/css/fonts.css');

.dataTables_length {
	display: none;
}

.dataTables_info {
	display: none;
}

th {
	border-bottom: 1px solid #0066ff !important;
	font-family: GothamHTF;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
  color: #999999;
  text-align: center;
}

table.dataTable thead > tr > th:active {
	font-weight: bold;
}

td {
	font-family: GothamHTF;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	padding: 19px !important;
}

.page-link {
	border: none !important;
	color: black !important;
	background-color: transparent !important;
	font-family: GothamHTF;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
}

ul.pagination {
	justify-content: start !important;
}

.page-link:focus {
	color: #0066ff !important;
	box-shadow: none !important;
	font-weight: bold !important;
	text-decoration-line: underline;
}

.button-mail {
	background: url('../../assets/img/icon/mail-1-copy.png') no-repeat;
	width: 30px;
	height: 18px;
	text-align: center;
	outline: none;
	border: none;
}

.status-active {
	background: url('../../assets/img/icon/active.png') no-repeat;
	padding-bottom: 18px;
	width: 30px;
	height: 18px;
	text-align: center;
	outline: none;
	border: none;
}
.status-offline {
	background: url('../../assets/img/icon/offline.png') no-repeat;
	padding-bottom: 18px;
}

.waiting-response {
	width: 172px;
	height: 40px;
	background-color: #f5a623;
	font-family: GothamHTF;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	letter-spacing: 0.2px;
	text-align: center;
	color: #ffffff;
	padding-top: 5px;
}

.enclosed-response {
	width: 172px;
	height: 40px;
	background-color: green;
	font-family: GothamHTF;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	letter-spacing: 0.2px;
	text-align: center;
	color: #ffffff;
	padding-top: 5px;
}

.validation-response {
  width: 172px;
	height: 40px;
	background-color: firebrick;
	font-family: GothamHTF;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	letter-spacing: 0.2px;
	text-align: center;
	color: #ffffff;
	padding-top: 5px;
}

.button-action {
  background-color: transparent; 
  border: none;
  padding: 4px 9px; 
  font-size: 25px; 
  cursor: pointer; 
  color: black
}

.button-action:hover {
  color: #0066ff;
}

.row-action {
  display: flex;
  float: right;
}

.td-center {
	text-align: center;
}
