<link href="card-ambassador.css" rel="stylesheet" />

<div class="card-ambassador">
        <img class="circle-ambassador" src="../../assets/img/people/homme-1.jpg"/>
        <p class="name-ambassador">Benoit B</p>
        <div class="line-ambassador"></div>
        <p class="job-ambassador">Ingénieur Commercial</p>
        <p class="from-ambassador">Niji Paris</p>
        <a class="ask-question" href="">Lui poser une question</p>
        <a class="see-profile" href="">Voir son profil <img class="arrow-profile" src="../../assets/img/icon/arrow-right.png"/></a>
</div>