<link href="timeline.css" rel="stylesheet" />

<div>
    <div class="line">
        <div class="card-timeline">
            <p class="title-timeline">Titre timeline</p>
            <p class="subtitle-timeline">Sous-titre timeline</p>
        </div>
        <div class="card-timeline">
            <p class="title-timeline">Titre timeline</p>
            <p class="subtitle-timeline">Sous-titre timeline</p>
        </div>
        <div class="card-timeline">
            <p class="title-timeline">Titre timeline</p>
            <p class="subtitle-timeline">Sous-titre timeline</p>
        </div>
    </div>
</div>

