@import url('../css/fonts.css');

/* SECTION QUESTION */

section#question {
	margin-left: 140px;
	margin-top: 135px;
}
.main {
	padding-left: 60px;
	width: 860px;
	height: 416px;
	background-color: #ffffff;
	display: inline-block;
}

.main-question {
	padding-right: 120px;
	display: inline-block;
	align-items: flex-start;
}

span#warning {
	width: 6px;
	height: 30px;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.88;
	letter-spacing: 0.2px;
	color: #ff492c;
}
.report {
	text-align: end;
	padding-top: 20px;
	padding-right: 20px;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	letter-spacing: 0.2px;
	color: #4a4a4a;
}

.main-head {
	margin-top: 16px;
	font-family: GothamHTF;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	letter-spacing: 0.2px;
	color: #0066ff;
	text-transform: uppercase;
}

h1#question {
	font-family: FD_Medium;
	font-size: 52px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.02;
	letter-spacing: normal;
	color: #000000;
	text-align: initial;
}

.message {
	margin-top: 16px;
	font-family: GothamHTF;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.86;
	letter-spacing: normal;
	color: black;
}

.circle-asked {
	width: 44px;
	height: 44px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin-right: 16px;
}

.asked {
	font-family: GothamHTF;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	letter-spacing: 0.2px;
	color: black;
}

section#sidebar-one {
	margin-left: 40px;
	margin-top: 135px;
	width: 260px;
	height: 314px;
	background-color: #0066ff;
}
/* SECTION QUESTION : MEDIA QUERIES */

@media screen and (max-width: 320px) {
	section#section-question {
		margin-right: 15px !important;
	}
	section#question {
		margin-left: 30px;
		margin-top: 0px;
	}
	.main {
		width: auto;
		padding-left: 10px;
	}
	.main-question {
		padding-right: 5px;
	}
	.report {
		font-size: 10px;
	}
	h1#question {
		font-size: 30px;
	}
	.message {
		font-size: 12px;
	}
	.circle-asked {
		display: none;
	}
	.asked {
        font-size: 10px;
        -webkit-text-decoration-line: overline; /* Safari */
        text-decoration-line: overline; 
	}
	section#sidebar-one {
		display: none;
	}
}

@media screen and (min-width: 330px) and (max-width: 475px) {
	section#section-question {
		margin-right: 15px !important;
	}
	section#question {
		margin-left: 30px;
		margin-top: 0px;
		justify-content: center;
	}
	.main {
		width: auto;
		height: auto;
		padding-left: 10px;
	}
	.main-question {
		padding-right: 5px;
	}
	.report {
		font-size: 10px;
	}
	h1#question {
		font-size: 30px;
	}
	.message {
		font-size: 12px;
	}
	.circle-asked {
		display: none;
	}
	.asked {
		font-size: 10px;
	}
	section#sidebar-one {
		display: none;
	}
}

@media screen and (min-width: 480px) and (max-width: 770px) {
	section#section-question {
		margin-right: 0px !important;
	}
	section#question {
		margin-left: 35px;
		margin-top: 40px;
	}
	.main {
		width: 725px;
		padding-left: 40px;
		height: auto;
	}
	section#sidebar-one {
		margin-top: 40px;
	}
	h1#question {
		font-size: 36px;
	}
	.main-question {
		padding-right: 60px;
	}
	section#sidebar-one {
		display: none;
	}
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
	section#section-question {
		margin-right: 0px !important;
	}
	section#question {
		margin-left: 35px;
		margin-top: 40px;
	}
	section#sidebar-one {
		display: none;
	}
	.main {
		width: 975px;
	}
}

@media screen and (min-width: 1030px) and (max-width: 1550px) {
	section#section-question {
		margin-right: 0px !important;
	}
	.main {
		width: 870px;
	}
}

@media screen and (min-width: 1550px) and (max-width: 1700px) {
	.main {
		width: 1002px;
	}
}

@media screen and (min-width: 1700px) {
	.main {
		width: 1335px;
	}
}
