/* Import fonts : Financier Display */

@font-face {
    font-family: FD_Regular;
    src: url('../fonts/Financier_Display/Financier_Display_Regular.otf')
}

@font-face {
    font-family: FD_Light;
    src: url('../fonts/Financier_Display/Financier_Display_Light.otf')
}

@font-face {
    font-family: FD_Medium;
    src: url('../fonts/Financier_Display/Financier_Display_Medium.otf')
}

@font-face {
    font-family: FD_SemiBold;
    src: url('../fonts/Financier_Display/Financier_Display_Semibold.otf')
}

/* Import fonts : Gotham */

@font-face {
    font-family: GothamHTF;
    src: url('../fonts/Gotham/GothamHTF-Book.ttf')
}