@import url('../css/fonts.css');

body {
	background-color: #333333;
}

section#background {
	background: url('../img/background.png') no-repeat;
	background-size: cover;
}

/* SECTION 1 */

section#main {
	margin-top: 108px;
}

h1 {
	font-family: FD_SemiBold;
	color: white;
	font-size: 52px;
	font-weight: 600;
	line-height: 1.08;
	text-align: center;
}

p#description_main {
	font-family: GothamHTF;
	text-align: center;
	margin-top: 16px;
	color: white;
}

button#ambassador-discovery {
	width: 230px;
	height: 44.9px;
	color: white;
	font-family: FD_Medium;
	font-size: 18px;
	font-weight: 500;
	background-color: #0066ff;
	text-align: center;
	outline: none;
	border: none;
	margin-top: 32px;
}

/* SECTION 2 */

section#carousel {
	margin-left: 108px;
	margin-top: 60px;
}

h2 {
	font-family: FD_Medium;
	font-size: 40px;
	line-height: 53px;
	color: white;
}

.carousel {
	background: transparent;
}

/* MEDIA QUERIES SECTION 2 */

@media screen and (max-width: 1024px) {
	section#carousel {
		margin-left: 10px;
		margin-top: 60px;
	}
	h2 {
		font-size: 25px;
		margin-left: 20px;
	}
}

/* SECTION 3 */

section#theme {
	margin-left: 108px;
	margin-top: 60px;
}

.card {
	background-color: transparent;
	height: 555px;
	width: 360px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	margin: 40px 40px 40px 10px;
	display: inline-block;
	border-radius: 3px;
	position: relative;
}

.card#advice {
	background-image: url('../img/conseils-candidature.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.card#recruitement {
	background-image: url('../img/processus-recrutement.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.card#daily {
	background-image: url('../img/niji-quotidien.png');
	background-repeat: no-repeat;
	background-size: cover;
}
div#circle {
	width: 240px;
	height: 240px;
	background: white;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 140px;
	position: absolute;
	top: 50%;
	left: 50%;
	justify-content: center;
	transform: translate(-50%, -50%);
	font-family: GothamHTF;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	display: flex;
	align-items: center;
}

.row#theme {
	margin-right: 0px !important;
}

/* MEDIA QUERIES SECTION 3 */

@media screen and (max-width: 1024px) {
	section#theme {
		margin-left: 10px;
		margin-top: 60px;
	}
}

@media screen and (max-width: 430px) {
	.card {
		margin-left: 40px;
	}
	div#circle {
		width: 200px;
		height: 200px;
	}
}

@media screen and (min-width: 430px) and (max-width: 768px) {
	.card {
		margin: 31px -12px 32px 29px;
		width: 229px;
	}
	div#circle {
		width: 200px;
		height: 200px;
	}
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
	.card {
		width: 288px;
	}
	.card:first-child {
		margin-left: 25px;
	}
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
	.row#theme {
		margin-right: 0px !important;
	}
	.card {
		width: 410px;
	}
}

@media screen and (min-width: 1700px) {
	.card {
		width: 522px;
	}
	.row#theme {
		margin-right: 0px !important;
	}
}

/* SECTION 4 */
section#debate {
	margin-left: 108px;
	margin-top: 60px;
}

div#debate {
	align-items: flex-start !important;
}

.card-debate {
	background-color: white;
	width: 260px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	margin: 40px 40px 40px 10px;

	border-radius: 3px;
	position: relative;
	display: inline-block;
}
.card-head {
	text-transform: uppercase;
	font-family: GothamHTF;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	letter-spacing: 0.2px;
	text-align: center;
	color: #0066ff;
	margin-top: 26px;
	margin-left: 33px;
	margin-right: 104px;
	margin-bottom: 2px;
	display: inline-block;
}

.card-question {
	width: 196px;
	height: 140px;
	font-family: FD_Medium;
	font-size: 32px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.09;
	letter-spacing: normal;
	color: #000000;
	margin-left: 32px;
	display: inline-block;
}

.card-posted {
	font-family: GothamHTF;
	font-size: 12px;
	line-height: 2.5;
	letter-spacing: 0.2px;
	color: black;
	margin-left: 32px;
	margin-top: 12px;
	display: inline-block;
}

.card-answer {
	display: inline-block;
	margin-left: 32px;
	margin-top: 21px;
	margin-bottom: 21px;
	font-family: GothamHTF;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.5;
	letter-spacing: 0.2px;
}
span#arrow-right {
	color: #0066ff;
}
span#bold {
	font-weight: bold;
}

/* MEDIA QUERIES SECTION 3 */

@media screen and (max-width: 425px) {
	.card-debate {
		margin-left: 40px;
	}
	.card-head {
		margin-right: 80px;
	}
	.row#debate {
		justify-content: center !important;
	}
}

@media screen and (min-width: 430px) and (max-width: 770px) {
	.row#debate {
		justify-content: center !important;
	}
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
	.card-debate {
		margin-left: 40px;
	}
	.row#debate {
		margin-right: 0px !important;
	}
}

@media screen and (max-width: 1024px) {
	section#debate {
		margin-left: 10px;
		margin-top: 60px;
	}
	.row#debate {
		margin-right: 0px !important;
	}
}

@media screen and (min-width: 1050px) {
	.row#debate {
		margin-right: 0px !important;
	}
}
@media screen and (min-width: 1450px) and (max-width: 1700px) {
	.card-debate {
		width: 295px;
	}
	.card-question {
		width: auto;
		margin-right: 32px;
	}
}

@media screen and (min-width: 1750px) {
	.card-debate {
		width: 380px;
	}
	.card-question {
		width: auto;
		margin-right: 20px;
	}
}

/* SECTION FOOTER */

section#footer {
	background-color: #f0f3f5;
	width: auto;
	padding-top: 60px;
	padding-bottom: 15px;
	padding-left: 87px;
}

.logo-bretagne {
	display: block;
	width: 33px;
	height: 85px;
	background-size: 33px 85px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
}
.marque-bretagne {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
}
.panel-heading {
	font-family: GothamHTF;
	font-size: 14px;
}

.infos {
	height: auto;
	min-height: 45px;
	padding-bottom: 0;
}

.panel {
	padding-left: 0px !important;
	margin-top: 33px !important;
}
p#address {
	font-family: GothamHTF;
	font-size: 10px;
}
p#find-us {
	font-family: FD_Light;
	font-size: 22px;
	color: #0066ff;
	margin-top: 40px;
	margin-bottom: 30px;
}
button#map {
	border-radius: 15px;
	transition-duration: 0.7s;
	color: white;
	background-color: #b6bec4;
	font-family: GothamHTF;
	font-size: 8px;
	font-weight: 900;
	outline: none;
	border: none;
	padding-left: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 16px;
}

button#map:hover {
	background-color: #0066ff;
}

.social-media {
	appearance: button;
	transition-duration: 0.7s;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: none;
	transition: all 250ms;
	text-decoration: none;
	line-height: 40px !important;
	padding: 0 20px;
	background-color: #b6bec4;
}

a#facebook {
	background-image: url('../img/social/facebook.png');
	background-size: 17px 17px;
	background-position: 11px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 34px;
	width: 20px;
	margin-bottom: 10px;
}

a#twitter {
	background-image: url('../img/social/twitter.png');
	background-size: 17px 17px;
	background-position: 11px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 34px;
	width: 20px;
	margin-bottom: 10px;
}

a#slideshare {
	background-image: url('../img/social/slideshare.png');
	background-size: 17px 17px;
	background-position: 11px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 34px;
	width: 20px;
}

a#youtube {
	background-image: url('../img/social/youtube.png');
	background-size: 17px 17px;
	background-position: 11px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 34px;
	width: 20px;
	margin-bottom: 10px;
}

a#linkedin {
	background-image: url('../img/social/linkedin.png');
	background-size: 17px 17px;
	background-position: 11px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 34px;
	width: 20px;
	margin-bottom: 10px;
}
a#mail {
	background-image: url('../img/social/mail.png');
	background-size: 17px 17px;
	background-position: 11px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 37px;
	width: 140px;
	color: #fff;
	border-radius: 30px;
	font-family: GothamHTF;
	font-size: 10px;
	padding-left: 40px;
	margin-bottom: 10px;
	position: absolute;
}

a#padlock {
	background-image: url('../img/social/padlock.png');
	background-size: 19px 16px;
	background-position: 11px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 37px;
	width: 140px;
	color: #fff;
	border-radius: 30px;
	font-family: GothamHTF;
	font-size: 10px;
	padding-left: 40px;
}

.social-media:hover {
	background: #0066ff;
}

div#social-media {
	padding-top: 30px !important;
	text-align: center;
}

.copyright {
	font-family: GothamHTF;
	font-size: 11px;
	text-align: right;
	height: 40px;
	line-height: 45px;
}

.points-niji {
	margin: 0px 0px 0px 5px;
	width: 30px;
	height: 7px;
	display: inline-block;
	background-image: url('../img/niji_point.png');
	background-repeat: no-repeat;
	background-size: contain;
}

a#plan {
	text-transform: none;
	color: black;
}

p#legal {
	margin-bottom: 0px !important;
	text-align: center;
}

/* MEDIA QUERIES SECTION FOOTER */

@media screen and (max-width: 425px) {
	section#footer {
		padding-left: 25px;
	}
	div#footer-row {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	p#find-us {
		font-size: 18px;
	}
	.marque-bretagne {
		display: none;
	}
}
@media screen and (min-width: 430px) and (max-width: 770px) {
	.contact {
		max-width: 22.666667% !important;
	}
}
