body {
	background-color: #333333;
}

div#background {
	background: url('../img/background.png') no-repeat;
	background-size: cover;
}


.center {
    text-align: center;
}

.blue {
    color:#0066ff;
}

.row-custom {
    display: flex;
    flex-wrap: wrap;
}