<link href="panel-text.css" rel="stylesheet" />
<link href="../cta-white/cta-white.css" rel="stylesheet" />
<link href="../cta-brightblue/cta-brightblue.css" rel="stylesheet" />


<div class="main-panel">
    <p class="title-panel">Titre popin</p>
    <div class="line-panel"></div>
    <p class="text-panel">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fermentum nulla arcu, ac rhoncus sem fringilla eu. Donec interdum at tellus sit amet interdum. Aenean vel facilisis urna. Integer mauris tortor.</p>
    <div class="button-panel">
        <button class="cta-brightblue">
            CTA principal
        </button>
        <button class="cta-white">
            CTA principal
        </button>      
    </div>
</div>