@import url('../../assets/css/fonts.css');

.cta-outline-brightblue {
    width: auto;
    height: 44.9px;
    background-color: white;
    font-family: FD_Medium;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0066ff;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid #0066ff;
    display: inline-block
}

.cta-outline-brightblue:focus {
    outline: none;
}