<link href="dropdown-menu.css" rel="stylesheet">


<div class="stylish-dropdown">
    <select>
        <option value="1">Toutes les expertises</option>
        <option value="1">Toutes les expertises</option>
        <option value="1">Toutes les expertises</option>
        <option value="1">Toutes les expertises</option>
        <option value="1">Toutes les expertises</option>
        <option value="1">Toutes les expertises</option>
        <option value="1">Toutes les expertises</option>
        <option value="1">Toutes les expertises</option>
    </select>
</div>