@import url('../../assets/css/fonts.css');

.success {
    width: 820px;
    height: 50px;
    background: url(../../assets/img/icon/check-notification.png) no-repeat 20px 16px #09bea0;
}

.text-success {
    font-family: GothamHTF;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 12px;
    padding-left: 70px;
}